---
layout: home
title: Welcome
tagline: An introduction to coding.

courses:

    - name: hourofcode
      title: Hour of Code
      length: 1 hour
      description: Coming Soon

    - name: taster
      title: Taster Workshop
      length: 2.5 hours
      description: Coming Soon

    - name: workshop
      title: Full Workshop
      length: 5 hours
      description: Coming Soon

    - name: levelone
      title: NCEA Level One
      length: 10 hours
      description: Coming Soon

    - name: leveltwo
      title: NCEA Level Two
      length: 10 hours
      description: Coming Soon

    - name: levelthree
      title: NCEA Level Three
      length: 10 hours
      description: Available Now
---

<div class="container page-header">
    <h1>{{ site.name }}</h1>
    <p>{{ page.tagline }}</p>
</div>

<div class="container">
    <div class="row chapter-links">



        {% for course in page.courses %}

            {% include tile-link.html %}

        {% endfor %}



    </div>
</div>

