---
bodyclass: chapter
---

{% include head.html %}
{% include pagenavigation.html %}

		<div class="slideshow">

			<div class="reveal">

				<!-- Any section element inside of this container is displayed as a slide -->
				<div class="slides">

{% assign slides = page.slides %}
{% include slideshowsection.html %}

				</div>

			</div><!-- .reveal -->




			<div class="sidenotes">
				<div class="content">
					<!-- display notes here using js -->
					<p>Loading...</p>
				</div>
			</div>

		</div><!-- .slideshow -->
			
		<div class="page-content">

{{ content }}

		</div>



		{% include revealjs-config.html %}

		<script>

		// adds a class 'codeblock-title' to the paragraph element
		// directly preceding any '.highlight' code block.
		// the title is used to give instructions on where to place
		// the code from the code block.
		$(document).ready( function(){

			$('.highlight').prev('p').addClass('codeblock-title');
			
		});


		// checkpoints are able to be clicked to go to the next slide.
		// when clicked they also visibly update to a green style.
		$(document).ready( function() {
			Reveal.addEventListener( 'ready', function( event ) {
    			
    			$('.checkpoint').click( function(){
					$(this).addClass('checked');
					setTimeout( Reveal.next, 1000 );
				});

			});
		});

		</script>

	</body>
</html>