---
---

// theme stuff

$baseurl: '{{site.baseurl}}';
$assets-url: '{{site.theme_assets}}';
$theme-color: {{site.themecolor}};


// other files to include

@import 'theme';
@import 'mixins';

@import 'lunchbox';
@import 'bootstrap-customisation';
@import 'youtube-modal';
@import 'base';

@import 'page-navigation';
@import 'page-header';
@import 'page-content';
@import 'page-footer';

@import 'chapter';
@import 'feedback';
@import 'chapter-links';

@import 'revealjs-theme';
@import 'revealjs-customisation';
@import 'printable-slides';


