
{% for slide in slides %}

<!-- slide -->
<section class="{{ slide.class }}"
	data-markdown
		
	{% if slide.class == 'title-slide' %}
		id="{{ slide.section }}"
		data-background="{{ site.baseurl }}/media/images/theme/theme-tile.svg" 
		data-background-color="{{ site.themecolor }}"
		data-background-size="200px" 
		data-background-repeat="repeat"
	{% else %}
		id="{{ slide.title }}"
	{% endif %}
	>
    
    <script type="text/template">
		
{{ slide.content | replace: '[[BASE_URL]]', site.baseurl}}

Note:

{{ slide.notes }}

	</script>

</section>

{% endfor %}
