		<footer class="page-footer flex-container">

			<div class="container">
				
				<div class="row">

					<!-- links section -->
					<div class="col-md-4 links">
						<nav>
							<a href="http://gathergather.co.nz/workshops">
								Gather Workshops Website
							</a>
							<br>
							<a href="http://twitter.com/gatherworkshops">
								Follow us on Twitter
							</a>
							<a href="http://github.com/gatherworkshops/Building-the-Web">
								Fork this project on GitHub
							</a>
							<a href="http://github.com/gatherworkshops/Building-the-Web/issues">
								Report a problem on GitHub
							</a>
						</nav>
					</div>

					<div class="col-md-4">
						<!-- Other Workshops -->
					</div>

					<!-- creative commons licence -->
					<div class="col-md-4">

						<div class="license-icons">
							<a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">
								<img alt="Creative Commons License" src="{{ site.baseurl }}/assets/images/icons/cc.png">
								<img alt="By Attribution" src="{{ site.baseurl }}/assets/images/icons/by.png">
								<img alt="Non-Commercial" src="{{ site.baseurl }}/assets/images/icons/nc.png">
							</a>
						</div>

						<div class="license-text">

							<span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dct:title" rel="dct:type">
								{{ site.name }}
							</span> 
							by 
							<a xmlns:cc="http://creativecommons.org/ns#" href="http://gathergather.co.nz/workshops" property="cc:attributionName" rel="cc:attributionURL">
								Gather Workshops
							</a> 
							is licensed <br>
							under a 
							<a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">
								CC-BY-NC 4.0 International License</a>.
							<br>
							<br>

							<a xmlns:cc="http://creativecommons.org/ns#" href="http://gathergather.co.nz/workshops/contact" rel="cc:morePermissions">Contact us</a> 
							to seek further usage permissions.
						</div><!-- .license-text -->

					</div><!-- col-md-8 -->

				</div><!-- row -->

				

			</div>
			
		</footer>
		
    </body>

</html>
