---

---
	{% include head.html %}
	{% include pagenavigation.html %}
	{% include pageheader.html %}

	<div class="container chapter-links">

		{{ content }}

	</div>

	<div class="feedback flex-container">
		<div class="container">

			<h2>Finished everything?</h2>

			<p>Click a button below to tell us how you feel.</p>

			<a class="btn btn-lg btn-default" href="{{ page.studentsurvey }}" target="_blank">
				I'm a Student
			</a>

			<a class="btn btn-lg btn-default" href="{{ page.teachersurvey }}" target="_blank">
				I'm a Teacher
			</a>

		</div>
	</div>


	{% include pagefooter.html %}